<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Astronomy Picture of the Day
</title>
</head>
<body BGCOLOR="#D8BFD8" text=""></body>
<center>

<h1><font face="algerian">  Astronomy Picture of the Day </font></h1>
    <h1><font face="helvetica">  {{main}} </font></h1>
<p>

</p><p><font face="CENTURY GOTHIC" size="4">

{{date}}
</font><br>
<a href={{hdurl}}>
<img src={{url}} alt="See Explanation. Clicking on the picture will download
the highest resolution version available." style="max-width:100%"></a>

</p></center>

<center>
<b> {{title}} </b><br>
    <b> {{title_rus}} </b><br>
    <b> {{translate}} </b><br><br>

<b>Image Credit &amp;
<a>Copyright</a>:{{copyright}}
</b><br>
    <b>{{copyright_rus}}</b>
</center> <p>
<font face="Calibri" size="5">
<b> Explanation: </b>

{{explanation}}

    <br><br><b> Пояснение: </b>

{{explanation_rus}}
</font><br><br>
</p><p> </p><center>

</center>

</html>